.hero-list-item-root {
  border: 1px solid #ddd;
  border-left: 30px solid;
  border-radius: 4px;
  color: #428bca;
  padding: 10px 15px;
  min-height: 85px;
  align-items: center;
  margin-top: 1px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  &.light-side {
    border-left-color: #337ab7;
  }

  &.dark-side {
    border-left-color: #d9534f;
  }

  &:hover {
    text-decoration: none;
  }
}
